.App-header {
  background-image: url(../../img/test.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.logo {
  background-image: url(../../img/loansharklogo.png);
  width: 400px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline {
  margin: 30px;
  margin-bottom: 30px;
  color: white;
}

.button {
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #34847e;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
.padding-top-of-button {
  padding-top: 30px;
}
