* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #ffffff;
}
form {
  margin-top: 50px;
}
.form-group {
  margin: 20px;
}
body,
html,
.App,
#root,
.outer {
  width: 50%;
  height: 100%;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
